body {
    min-height: 2000px;
}

.navbar {
    background-color: #00cba9;
}

.jumbotron {
    padding-top: 5rem;
    background-color: #00cba9;
    color: #ffff;
}

.buttonHero {
    padding: 12px 22px;
    font-family: NunitoSansBold,
        sans-serif;
    font-size: clamp(.75rem, .875rem, 1rem);
    letter-spacing: .05em;
    line-height: 1.571rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #fb8c00;
    border: none;
    border-radius: 10px;
}

.buttonHero:hover {
    background-color: #fd7e14;
    outline: none;
    text-decoration: none;
}

.buttonHero:active {
    background-color: #fd7e14;
    transform: translateY(4px);
}

section {
    padding-top: 5rem;
}