html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 5px;
    font-family: Noto, Verdana, sans-serif;
    line-height: 1.65;
    padding-bottom: 100px;
}

.introduction,
.detail,
.result {
    width: 800px;
    margin: 5px auto;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    width: 800px;
    margin: 5px auto;
    font-size: 40px;
    text-align: center;
}

.by {
    font-size: 10pt;
}

h2 {
    display: flex;
    justify-content: flex-start;
}

.img {
    width: 900px;
    height: 400px;
    margin: 5px auto;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}